DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.1
YANDEX_API_KEY=api-key
YANDEX_FOLDER_ID=folder-id
OPENROUTESERVICE_API_KEY=api-key
OPENAI_API_KEY=api-key
USE_POSTGRES=False
POSTGRES_DB=your-db-name
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=some-password
POSTGRES_HOST=postgres_host
POSTGRES_PORT=postgres_port